#!/sbin/openrc-run
# Copyright 2023 Mike Gelfand
# Distributed under the terms of the GNU General Public License v2

command="/opt/cove/bin/ProcessController"
command_args_background="serve"
command_args_foreground="serve --foreground"
pidfile="/var/run/ProcessController.pid"

depend() {
	need localmount
	need net
	after bootmisc
}
